@import url('https://fonts.googleapis.com/css?family=Lexend');
@import url('https://fonts.googleapis.com/css?family=Dongle');
body, html {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0; 
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
}

a{
    text-decoration: none;
}

/* header section */

.header-container{
    width: 80%;
    padding-block: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.header-container a{
    color: white;
    background-color: #777777;
    text-decoration: none;
    border-radius: 30px;
    padding-inline: 15px;
    padding-block: 8px;
    margin-inline: 10px;
}

.header-container a:hover{
    background-color: #aaaaaa;
}

/* search bar section */
.search-container {
    text-align: center;
    margin-top: 30px;
    position: relative;
    margin-bottom: 5px
}

.search {
    display: inline-block;
    position: relative;
    border: 1px solid #87382F;
    border-radius: 20px;
    overflow: hidden;
    top: 0%;
    margin-bottom: 5px;
}

.search-input {
    width: 500px; 
    padding: 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 20px;
    outline: none;
}

.search img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

/* navBar Section */
.navBar{
    margin-top: 1%;
    padding-top: 0;
}

.navBar li{
    display: inline;
    background-color: #535353;
    padding: 30px 30px;
}

.navBar li:first-child{
    background-color: #535353;
    border-radius: 100% 0px 0px 100%;
}

.navBar li:last-child {
    background-color: #535353;
    border-radius: 0% 100% 100% 0%;
}

.navBar li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.navBar li:hover {
    background-color: #333;
}


.navBar ul {
    list-style-type: none;
    margin-top: 0px;
    padding-inline: 0%;
    padding-block: 10px;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
}
/* end of navbar section */

.active {
    background-color: #04AA6D;
}
.title{
    font-size: 50px;
}

table{
    margin-left: 30px;
    margin-top: 20px;
    border-spacing: 15px;
}
